form(role='form')
    .row.well
        .col-md-6
            label.control-label(for='text-input') Input
            textarea#text-input(name='text-input', rows=6)
        .col-md-6
            label.control-label Preview
            #preview
