#name-dialog.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title
                    | Choose user name and server
            .modal-body
                form(role='form')
                    .form-group
                        label.control-label(for='local-user-name') Nick name
                        input#local-user-name.form-control(type='text', name='name', placeholder='Enter name')
                    .form-group
                        label.control-label(for='server-key') Server key
                        input#server-key.form-control(type='text', name='server-key')
            .modal-footer
                button#btn-save-name-dialog.btn.btn-primary(type='button') Save
