#name-dialog(title='Choose name')
    form
        fieldset
            label(for='name') Name
            input#local-user-name.text.ui-widget-content.ui-corner-all(type='text', name='name')
            label(for='server-key') Key for server
            input#server-key.text.ui-widget-content.ui-corner-all(type='text', name='server-key')
